/*
To watch Changes in CSS: (in Terminal)
npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch 
*/
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import "tailwindcss";

@theme {
    --font-gilroy-md: 'Gilroy-Medium', sans-serif;
    --font-gilroy-bold: 'Gilroy-Bold', sans-serif;
    --font-gilroy: 'Gilroy-Regular', sans-serif;
}